---
import { Image } from 'astro:assets';
---

<nav
    class="z-[1000] md:hidden text-black px-8 bg-white w-full h-[51px] md:h-[80px] fixed bottom-0 grid grid-cols-[1fr_auto_1fr]"
>
    <div class="md:hidden flex items-center">
    </div>
    <div class="md:w-full w-fit flex justify-center items-center">
        <Image src="/key.png" width="65" height="65" alt='logo'/>
    </div>
    <div class="md:hidden flex justify-end items-center">
    </div>
</nav>