---
import Menu from "../components/Menu.astro";
import { Image } from "astro:assets";
---

<div
    class="outline outline-2 outline-pink-700  z-[1000] px-8 fixed top-0 text-black h-[51px] md:h-[80px] w-full bg-white flex items-center justify-center md:grid md:grid-cols-[1fr_auto_1fr]"
>
    <div class="w-full block">
        <Menu />
    </div>
    <div class="flex justify-center">
        <Image src="/logo.svg" width="80" height="80" alt="logo" />
    </div>
    <div class="w-full flex justify-end">
        <a class="mx-1" href="https://api.whatsapp.com/send/?phone=542271412950&text=Hola+quisiera+hablar+con+la+inmobiliaria+sobre+…&type=phone_number&app_absent=0" target="_blank">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler hover:bg-pink-700 rounded-xl icons-tabler-outline icon-tabler-brand-whatsapp"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path><path
                    d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
                ></path></svg
            >
        </a>
        <a class="mx-1" href="https://www.instagram.com/cp.inmobiliaria/" target="_blank">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon hover:bg-pink-700 rounded-md icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
                ></path><path d="M16.5 7.5l0 .01"></path></svg
            >
        </a>
    </div>
</div>
