---
const Links = [
    {
        name: "",
        link: "",
    },
    {
        name: "",
        link: "",
    },
    {
        name: "",
        link: "",
    },
    {
        name: "",
        link: "/",
    },
];

---

<link
    rel="stylesheet"
    href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
/>

<nav
    class="hidden lg:block h-custom-calc w-[200px] bg-white top-[80px] z-[1000] border-r-2 border-pink-700 fixed "
>

    <div class="ml-[30px] flex flex-col justify-between h-full text-start p-2">
        <div >
            <ul class="w-fit">
                <h3 class=""><b>Dashboard</b></h3>
                <li>
                    <a
                        href="/"
                        class="hover:underline text-start btn block py-2 pl-3 rounded md:bg-transparen md:py-1 hover:text-kai-text"
                        aria-current="page"
                    >
                        Home
                    </a>
                </li>
                <li>
                    <a
                        href="/houses"
                        class="hover:underline text-start btn block py-2 pl-3 rounded md:bg-transparen md:py-1 hover:text-kai-text"
                        aria-current="page"
                    >
                        Casas
                    </a>
                </li>
                <li>
                    <a
                        href="lotes/lotes"
                        class="hover:underline text-start btn block py-2 pl-3 rounded md:bg-transparen md:py-1 hover:text-kai-text"
                        aria-current="page"
                    >
                        Lotes
                    </a>
                </li>
            </ul>
            <ul class="w-fit">
                <h3 class=""><b>Propiedades</b></h3>

                {
                    Links.map((link) => (
                        <li>
                            <a
                                href={link.link}
                                class="hover:underline text-start btn block py-1 pl-3 dark:hover:text-kai-text rounded md:bg-transparen  hover:text-pink-text"
                            >
                                {link.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
        <div>
            <div class="py-2">
                <div class="flex justify-around w-full">
                    <button
                        class="hover:scale-110 bg-kai-300 dark:bg-white transition-all duration-200 ease-in-out scale-90 hover:bg-kai-hover  shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button"
                    >
                        <a href="https://github.com/degszz" target="_blank">
                            <i class="fab fa-facebook text-blue-600"></i>
                        </a>
                    </button>
                    <button
                        class="hover:scale-110 bg-kai-300 dark:bg-white transition-all duration-200 ease-in-out scale-90 hover:bg-kai-hover  shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button"
                    >
                        <a href="https://api.whatsapp.com/send/?phone=542271412950&text=Hola+quisiera+hablar+con+la+inmobiliaria+sobre+…&type=phone_number&app_absent=0" target="_blank">
                            <i class="fab fa-whatsapp text-green-600"></i>
                        </a>
                    </button>
                    <button
                        class="hover:scale-110   bg-kai-300 dark:bg-white transition-all duration-200 ease-in-out scale-90 hover:bg-kai-hover text-[#ff0080] shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button"
                    >
                        <a href="https://www.instagram.com/cp.inmobiliaria/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>
